[user]
	name = Emil Larsson
	email = emil.n.larsson@fortnox.se
[core]
	excludesfile = /Users/emil.n.larsson/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/emil.n.larsson/.stCommitMsg
[alias]
  pushup = "!git push --set-upstream origin $(git symbolic-ref --short HEAD)"
